body{
    margin: 0;
    padding: 0;
}
#area{
    background: url(./kingyo.jpg) center center/cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
}
#area1,#area2,#area3,#area4,#area5{
    width: 20%;
    height: 100vh;
}